#graphContainer {
    display: flex;
  }
  
  #graphSvg {
    width: 80%;
    height: 100vh;
  }
  
  #dataPanel {
    width: 20%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  .link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2px;
  }
  
  .node {
    fill: #77d;
    cursor: pointer;
  }
  
  .node text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #000;
    text-anchor: middle;
    alignment-baseline: middle;
  }
  